name: Auto-approve Dependabot

on: pull_request

permissions:
  pull-requests: write
  contents: read

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    
    if: github.actor == 'dependabot[bot]' && (contains(github.event.pull_request.title, 'minor') || contains(github.event.pull_request.title, 'patch') || contains(github.event.pull_request.labels.*.name, 'dependencies'))
    
    steps:
    - name: Approve Dependabot PR
      run: |
        gh pr review --approve "$PR_URL"
      env:
        PR_URL: ${{ github.event.pull_request.html_url }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Enable auto-merge
      run: |
        gh pr merge --auto --squash "$PR_URL"
      env:
        PR_URL: ${{ github.event.pull_request.html_url }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
